<div>
  <form [formGroup]="AddProduct" (ngSubmit)="getAddProduct(AddProduct.value)">
    <div class="row">
      <div class="col-lg-8">
        <mat-card class="cardWithShadow b-1 rounded p-30">
          <h4 Ctitle>Información General</h4>

          <div class="row">
            <div class="col-md-6">
              <!-- Nombre (Inventario) -->
              <mat-label class="f-s-14 f-w-600 m-b-6 d-block m-t-20">Nombre<span class="text-error">*</span></mat-label>
              <mat-form-field appearance="outline" class="w-100 p-0" color="primary">
                <input type="text" matInput placeholder="Nombre del artículo" formControlName="name" />
                <mat-error *ngIf="AddProduct.get('name')?.hasError('required')">El nombre es requerido</mat-error>
              </mat-form-field>

              <!-- Código -->
              <mat-label class="f-s-14 f-w-600 m-b-6 d-block m-t-20">Código<span class="text-error">*</span></mat-label>
              <mat-form-field appearance="outline" class="w-100 p-0" color="primary">
                <input type="text" matInput placeholder="Código" formControlName="code" />
                <mat-error *ngIf="AddProduct.get('code')?.hasError('required')">El código es requerido</mat-error>
              </mat-form-field>

              <!-- Impuesto (tax) -->
              <mat-label class="f-s-14 f-w-600 m-b-8 d-block m-t-20">Impuesto (tax)<span class="text-error">*</span></mat-label>
              <mat-form-field appearance="outline" class="w-100 p-0" color="primary">
                <input type="number" matInput placeholder="0" formControlName="tax" min="0" />
                <mat-error *ngIf="AddProduct.get('tax')?.hasError('required')">El impuesto es requerido</mat-error>
              </mat-form-field>

              <!-- Precio de ticket -->
              <mat-label class="f-s-14 f-w-600 m-b-8 d-block m-t-20">Precio de ticket<span class="text-error">*</span></mat-label>
              <mat-form-field appearance="outline" class="w-100 p-0" color="primary">
                <input type="number" matInput placeholder="0" formControlName="ticketPrice" min="0" />
                <mat-error *ngIf="AddProduct.get('ticketPrice')?.hasError('required')">El precio de ticket es requerido</mat-error>
              </mat-form-field>

              <!-- Estado -->
              <mat-label class="f-s-14 f-w-600 m-b-8 d-block m-t-20">Estado<span class="text-error">*</span></mat-label>
              <mat-form-field appearance="outline" class="w-100 p-0" color="primary">
                <mat-select formControlName="status" placeholder="Seleccione un estado">
                  <mat-option *ngFor="let s of inventoryStatusOptions" [value]="s">{{ s }}</mat-option>
                </mat-select>
                <mat-error *ngIf="AddProduct.get('status')?.hasError('required')">El estado es requerido</mat-error>
              </mat-form-field>

              <!-- Moneda -->
              <mat-label class="f-s-14 f-w-600 m-b-8 d-block m-t-20">Moneda</mat-label>
              <div class="d-flex">
                <mat-button-toggle-group formControlName="currency" name="currency" color="primary">
                  <mat-button-toggle value="USD">USD</mat-button-toggle>
                  <mat-button-toggle value="MX">MX</mat-button-toggle>
                </mat-button-toggle-group>
              </div>
            </div>
            <div class="col-md-6">
              <!-- Paquetería (parcel) -->
              <mat-label class="f-s-14 f-w-600 m-b-8 d-block m-t-20">Paquetería<span class="text-error">*</span></mat-label>
              <mat-form-field appearance="outline" class="w-100 p-0" color="primary">
                <input type="number" matInput placeholder="0" formControlName="parcel" min="0" />
                <mat-error *ngIf="AddProduct.get('parcel')?.hasError('required')">El costo de paquetería es requerido</mat-error>
              </mat-form-field>

              <!-- Precio LidShop -->
              <mat-label class="f-s-14 f-w-600 m-b-8 d-block m-t-20">Precio LidShop<span class="text-error">*</span></mat-label>
              <mat-form-field appearance="outline" class="w-100 p-0" color="primary">
                <input type="number" matInput placeholder="0" formControlName="lidShopPrice" min="0" />
                <mat-error *ngIf="AddProduct.get('lidShopPrice')?.hasError('required')">El precio LidShop es requerido</mat-error>
              </mat-form-field>

              <!-- Otros costos -->
              <mat-label class="f-s-14 f-w-600 m-b-8 d-block m-t-20">Otros costos<span class="text-error">*</span></mat-label>
              <mat-form-field appearance="outline" class="w-100 p-0" color="primary">
                <input type="number" matInput placeholder="0" formControlName="otherCosts" min="0" />
                <mat-error *ngIf="AddProduct.get('otherCosts')?.hasError('required')">Otros costos son requeridos</mat-error>
              </mat-form-field>

              <!-- Ganancia (profit) -->
              <mat-label class="f-s-14 f-w-600 m-b-8 d-block m-t-20">Ganancia<span class="text-error">*</span></mat-label>
              <mat-form-field appearance="outline" class="w-100 p-0" color="primary">
                <input type="number" matInput placeholder="0" formControlName="profit" min="0" />
                <mat-error *ngIf="AddProduct.get('profit')?.hasError('required')">La ganancia es requerida</mat-error>
              </mat-form-field>

              <!-- Descripción (input de una línea) -->
              <mat-label class="f-s-14 f-w-600 m-b-8 d-block m-t-20">Descripción</mat-label>
              <mat-form-field appearance="outline" class="w-100 p-0" color="primary">
                <input type="text" matInput placeholder="Describe el producto" formControlName="description" />
              </mat-form-field>

              <mat-label class="f-s-14 f-w-600 m-b-8 d-block m-t-20">Tasa de Conversion</mat-label>
              <mat-form-field appearance="outline" class="w-100 p-0" color="primary">
                <input type="text" matInput placeholder="Tasa de Conversion" formControlName="conversionRate" />
              </mat-form-field>
            </div>
          </div>
      
        </mat-card>
        <mat-card class="cardWithShadow b-1 rounded p-30">
          <h4 Ctitle class="m-b-24">Tamaño</h4>
          <div class="row m-b-16">
            <div class="col-lg-4">
              <mat-label class="f-s-14 f-w-600 m-b-8 d-block">Alto</mat-label>
              <mat-form-field appearance="outline" class="w-100" color="primary">
                <input matInput type="number" placeholder="Alto" formControlName="alto" />
              </mat-form-field>
            </div>
            <div class="col-lg-4">
              <mat-label class="f-s-14 f-w-600 m-b-8 d-block">Largo</mat-label>
              <mat-form-field appearance="outline" class="w-100" color="primary">
                <input matInput type="number" placeholder="Largo" formControlName="largo" />
              </mat-form-field>
            </div>
            <div class="col-lg-4">
              <mat-label class="f-s-14 f-w-600 m-b-8 d-block">Ancho</mat-label>
              <mat-form-field appearance="outline" class="w-100" color="primary">
                <input matInput type="number" placeholder="Ancho" formControlName="ancho" />
              </mat-form-field>
            </div>
          </div>
          @if (AddProduct.value?.alto || AddProduct.value?.ancho || AddProduct.value?.largo) {
            <div class="d-flex align-items-center gap-12 m-t-8">
              <span class="f-s-14 f-w-600">Tamaño actual:</span>
              <span class="badge bg-light-primary text-primary f-s-12 p-8 rounded">
                Alto: {{ AddProduct.value.alto || 0 }}
              </span>
              <span class="badge bg-light-primary text-primary f-s-12 p-8 rounded">
                Ancho: {{ AddProduct.value.ancho || 0 }}
              </span>
              <span class="badge bg-light-primary text-primary f-s-12 p-8 rounded">
                Largo: {{ AddProduct.value.largo || 0 }}
              </span>
            </div>
          }
        
        </mat-card>
      </div>
      <div class="col-lg-4">
        <mat-card class="cardWithShadow b-1 rounded p-30">
          <h4 Ctitle class="m-b-10">Imagen</h4>
          @if (AddProduct.value?.url) {
            <img [src]="AddProduct.value.url" alt="Imagen del producto" class="rounded w-100" style="object-fit: cover; max-height: 240px;" />
          } @else {
            <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)" [multiple]="true"
              class="dropzone-box">
              <ngx-dropzone-label>
                <div class="dropzone-content">
                  <p class="subtext f-s-14">
                    Arrastra el archivo aquí o haz clic para
                    <span class="browse-link text-primary">explorar</span> en tu equipo.
                  </p>
                </div>
              </ngx-dropzone-label>

              @for (f of files; track f) {
              <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" [file]="f" [removable]="true"
                (removed)="onRemove(f)">
                <ngx-dropzone-label></ngx-dropzone-label>
              </ngx-dropzone-image-preview>
              }
            </div>
            <div class="f-s-16 f-w-500 m-t-15">Archivo:</div>
          }
        </mat-card>
        <mat-card class="cardWithShadow b-1 rounded p-30">
          <h4 Ctitle>Detalles</h4>
          <div class="f-s-14 f-w-600 m-b-8 d-block m-t-20">Categorias</div>
          <mat-form-field appearance="outline" class="w-100">
            <input
              type="text"
              matInput
              placeholder="Categoría"
              [matAutocomplete]="categoryAuto"
              formControlName="category"
            />
            <mat-autocomplete #categoryAuto="matAutocomplete" [displayWith]="displayCategory">
              <mat-option *ngFor="let c of filteredCategories" [value]="c">
                {{ c.name }}
              </mat-option>
            </mat-autocomplete>
            <mat-hint>Añade la categoria al producto.</mat-hint>
          </mat-form-field>
          <div class="w-50 m-t-20">
            <button mat-flat-button type="button" class="bg-light-primary text-primary m-l-0" (click)="openNewCategoryDialog()">
              <div class="d-flex align-items-center">
                <tabler-icon name="plus" class="m-r-5"></tabler-icon>
                <span class="mt-3">Nueva Categoria</span>
              </div>
            </button>
          </div>
          <div class="f-s-14 f-w-600 m-b-8 d-block m-t-20">Marcas</div>
          <mat-form-field appearance="outline" class="w-100">
            <input
              type="text"
              matInput
              placeholder="Marca"
              [matAutocomplete]="brandAuto"
              formControlName="brand"
            />
            <mat-autocomplete #brandAuto="matAutocomplete" [displayWith]="displayBrand">
              <mat-option *ngFor="let brand of filteredBrands" [value]="brand">
                {{ brand.name }}
              </mat-option>
            </mat-autocomplete>
            <mat-hint>Añade la marca al producto.</mat-hint>
          </mat-form-field>
          <div class="w-50 m-t-20">
            <button mat-flat-button type="button" class="bg-light-primary text-primary m-l-0" (click)="openNewBrandDialog()">
              <div class="d-flex align-items-center">
                <tabler-icon name="plus" class="m-r-5"></tabler-icon>
                <span class="mt-3">Nueva Marca</span>
              </div>
            </button>
          </div>
        </mat-card>
      </div>
    </div>
    <div class="d-flex gap-20">
      <button mat-flat-button type="submit">
        {{ isEditMode ? "Guardar Cambios" : "Guardar" }}
      </button>
      <button mat-button class="b-1 border-error text-error" type="button" (click)="getBack()">
        Cancel
      </button>
    </div>
  </form>
</div>