<div class="container-fluid">
  <!-- Search and Add Card -->
  <mat-card class="cardWithShadow">
    <mat-card-content>
      <div class="row justify-content-between gap-16">
        <div class="col-lg-4">
          <mat-form-field appearance="outline" class="w-100 hide-hint">
            <input
              matInput
              placeholder="Buscar order"
              (keyup)="applyFilter($any($event.target).value)"
            />
            <mat-icon matSuffix>
              <i-tabler name="search" class="icon-20 d-flex m-t-2"></i-tabler>
            </mat-icon>
          </mat-form-field>
        </div>
        <div class="col-lg-4 d-flex align-items-center justify-content-end">
          <button mat-flat-button (click)="navigateToNuevaVenta()" color="primary">
            Nueva orden
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <!-- orders Table -->
  <mat-card class="cardWithShadow">
    <mat-card-content>
      <div class="table-responsive">
        <table mat-table [dataSource]="dataSource" class="w-100">
          
          <!-- Pedido Column -->
          <ng-container matColumnDef="orderId">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Pedido</th>
            <td mat-cell *matCellDef="let order" class="f-s-14">{{order.orderId}}</td>
          </ng-container>

          <!-- Cliente Column -->
          <ng-container matColumnDef="clientName">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Cliente</th>
            <td mat-cell *matCellDef="let order">
              <div class="d-flex align-items-center gap-16">
                <div class="rounded-circle bg-light-primary text-primary d-flex align-items-center justify-content-center" style="width: 45px; height: 45px;">
                  <i-tabler name="user" class="icon-20"></i-tabler>
                </div>
                <div>
                  <h6 class="f-w-600 f-s-16 m-t-0">{{order.clientName}}</h6>
                </div>
              </div>
            </td>
          </ng-container>

          <!-- Fecha Column -->
          <ng-container matColumnDef="createdAt">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Fecha</th>
            <td mat-cell *matCellDef="let order" class="f-s-14">{{order.createdAt | date:'dd/MM/yyyy'}}
            </td>
          </ng-container>

          <!-- Avance Column -->
          <ng-container matColumnDef="advance">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Anticipo</th>
            <td mat-cell *matCellDef="let order" class="f-s-14">${{order.advance | number:'1.2-2'}}
            </td>
          </ng-container>

          <ng-container matColumnDef="debt">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Deuda</th>
            <td mat-cell *matCellDef="let order" class="f-s-14">${{order.debt | number:'1.2-2'}}</td>
          </ng-container>

          <!-- Total Column -->
          <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Total</th>
            <td mat-cell *matCellDef="let order" class="f-s-14">${{order.total | number:'1.2-2'}}</td>
          </ng-container>

          <!-- Estado Column -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Estado</th>
            <td mat-cell *matCellDef="let order">
              <app-order-status-chip [status]="order.status"></app-order-status-chip>
            </td>
          </ng-container>

          <!-- Acciones Column -->
          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Acciones</th>
            <td mat-cell *matCellDef="let order" class="action-link">
              <a class="m-r-10 cursor-pointer" matTooltip="Ver detalles" [routerLink]="['/pedidos', order._id]">
                <i-tabler name="eye" class="icon-18"></i-tabler>
              </a>
              <a class="m-r-10 cursor-pointer" matTooltip="Editar">
                <i-tabler name="edit" class="icon-18"></i-tabler>
              </a>
              <a class="cursor-pointer" matTooltip="Eliminar">
                <i-tabler name="trash" class="icon-18"></i-tabler>
              </a>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator
          [pageSizeOptions]="[5, 10, 20]"
          showFirstLastButtons>
        </mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<app-loading-overlay></app-loading-overlay>