/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Snackbar success style: green background like success alerts */
.mat-mdc-snack-bar-container.snackbar-success {
  --mdc-snackbar-container-color: #2e7d32; /* success green */
  --mdc-snackbar-supporting-text-color: #ffffff;
  --mdc-snackbar-action-color: #ffffff;
}
